<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="calculadora" class="com.margaritasing.Calculadora">
        <!-- collaborators and configuration for this bean go here -->
    </bean>

    <bean id="gestorFacturas" class="com.margaritasing.GestorFactura">
        <constructor-arg name="calculadora" ref="calculadora" />
        <constructor-arg name="nombre" value="Factura 3000" />
    </bean>



</beans>